<!DOCTYPE html>
<html>
<head>
	<title>Workflow</title>

	{% load static %}
	<link rel="shortcut icon" href="" />
	<script src="{% static 'lib/jquery-3.2.1.js' %}" type="text/javascript"></script>
	<link rel="stylesheet" href="{% static 'lib/fontawesome5.8/css/all.min.css' %}" >

	<script src="{% static 'lib/fontawesome5.8/js/all.min.js' %}" type="text/javascript"></script>

	<link rel="stylesheet" href="{% static 'lib/bootstrap-4.1.3/css/bootstrap.min.css' %}">

	<script src="{% static 'lib/bootstrap-4.1.3/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script> 


	<script src="{% static 'lib/d3.v4.js' %}" type="text/javascript"></script>

	<style type="text/css">
		
		html{
			
			height: 100%;
			width:100%;
			min-width: 960px;
			min-height: 520px;

		}

		body{

			height: 100%;
			width: 100%;
			background-color: #c6cbd0;
		}

		#sideBar{
			width: 420px;
			position: absolute;
			height: 100%;
			background-color: #ffffff;
		}

		#main{
			left: 420px;
			top:0;
			height: 100%; 
			width: 530px;
			position: absolute;
		}
		.sidebarStep_enable > .sidebartitle{

			color: steelblue;

		}
		.sidebarStep_disable > .sidebartitle{

			color :#b0b0b0;
		}

	</style>

</head>
<body style="">
	<div id='sideBar'>
		<div style="padding-top: 15px;padding-right:10px;padding-left:10px;padding-bottom: 15px;  ">
			
			<h4 class='text-info'>Pythology</h4>
			<h7 style='color: grey;'>Image Analysis Workflow</h7>
		</div>

		<!--hr style="color:white;border-color: white;"-->
		<div >
			 
			<div class='card'>
				<div  id='sidecontent' class='card-body'></div>

			</div>

		</div>

		


	</div>


	<div id='main'>
		 
	</div>


	<div id='loadingcanvas' style="position: fixed;width: 100%;height: 100%;left:0;top:0;background :rgba(192, 192, 192, .6);z-index:99999;display: none;" >
		<div class="h-100" style="display: flex;justify-content: center;align-items: center;vertical-align: middle;">
				
				loading...
				
		</div>
	</div>


	<script type="text/javascript">
		

		$(function(){

			//var docHeight = $(document).height();
			//$(body)
			function initPage(){
				var pagew = $("body").width();
				var pageh = $("body").height();

				var sideBarw= $("#sideBar").width();
				var panelMargin=10;

				var mainW=pagew-sideBarw;

				$("#main").width(mainW);

				$("#main").height(pageh);

				$("#main").html("<div style='margin-top:"+panelMargin+"px;margin-left:"+panelMargin+"px;background-color:white;width:"+(mainW-2*panelMargin)+"px;height:"+(pageh-2*panelMargin)+"px;position:absolute;'><div  id='displayarea' style='width:100%;height:100%;position: relative;'></div></div>");


				pythologyPlot.init("displayarea",Math.floor($("#displayarea").width()),Math.floor($("#displayarea").height()) );

				var div = $("#sidecontent")
				
				renderFileList(div,"");
 





				
			}


			function renderFileList(div,subpath){

				loading(div);

				$.ajax({

					url: "queryRawImageList",
					method:"post",
					format:"json",
					data:{"path":subpath},
					success:function(res){
						res = res.result;

						listitem="<div class='list-group'>";

						listitem+="<a class='list-group-item list-group-item-action isfolder' style='padding-bottom:5px;padding-top:5px;cursor:pointer;' value='..'>..<small class='float-right text-secondary'><i class='fas fa-folder-open'> </i></small></a>";
						for(var i in res){

								if(res[i]["isdir"]){
									listitem+="<a class='list-group-item list-group-item-action isfolder' style='padding-bottom:5px;padding-top:5px;cursor:pointer;' value='"+res[i].path+"'>"+res[i].name+"<small class='float-right text-secondary'><i class='fas fa-folder-open'> </i></small></a>";

								}else{
									listitem+="<a class='list-group-item list-group-item-action isfile' style='padding-bottom:5px;padding-top:5px;cursor:pointer;' value='"+res[i].path+"'>"+res[i].name+"<small class='float-right text-info'><i class='fas fa-file'> </i></small></a>";

								}
								
						}
						listitem+="</div>";
							
						div.html("<div style='max-height:260px;overflow-y: auto;'>"+listitem+"</div><hr></hr><div style='margin-bottom:5px;'><div id='autocrop'></div></div><div style='margin-bottom:5px;'><div id='cropresult'></div></div>");


						div.find(".isfolder").click(function(){
								var newpath = $(this).attr("value");
								renderFileList(div,newpath);
						});

						div.find(".isfile").click(function(){
							var newpath = $(this).attr("value");

							
							var resultdiv = $("#cropresult");
							renderImage(newpath,resultdiv);
						});




					},error:function(){

						div.html("error")

					}


				})



			}

			function renderImage(path,div){

				fullpageLoading.loadingStart();

				var w= Math.floor(pythologyPlot.w);
				var h= Math.floor(pythologyPlot.h);
				var canvas = document.getElementById(pythologyPlot.canvasid);
				var ctx = canvas.getContext('2d');
				ctx.clearRect(0, 0, w, h);

				var crop=[];
				$.ajax({
						url: "getScaledImageByWH",
						method:"post",
						format:"json",
						data:{"path":path,"w":w,"h":h,"method":'openslide'},
						success:function(res){

							var imgsize = res.size;

							var pixels = res.pixels;
							var rawsize = res.rawSize;
							var imagescalerate = res.scale;

							for(var i=0;i<pixels.length;i++){

								var x = i%imgsize[0];
								var y = i/imgsize[0];

								var colorstr="rgb("+pixels[i][0]+","+pixels[i][1]+","+pixels[i][2]+")";
								
								ctx.fillStyle=colorstr;


								ctx.fillRect(x,y, 1, 1);
							}

							var limit=90000000;
							//svg
							$("#"+pythologyPlot.svgid).remove();
							
							d3.select("#displayarea").append("svg").attr("id",'svg').style("position","absolute")
							.style("top", '0px')
							.style("left", '0px')
							.attr("width",pythologyPlot.w)
							.attr("height",pythologyPlot.h);



							var status=0;
							var startpos=[];
							var endpos=[];
							var selectRect;
							d3.select("#svg").on("mousedown", function() {

								if(status!==3){

									status=1;
									var x = d3.mouse(this)[0];
									var y = d3.mouse(this)[1];

									startpos=[x,y];
									endpos=[x,y];
									crop=[0,0,0,0];
									$("#selectrect").remove();
									selectRect = d3.select("#svg").append("rect").attr("id","selectrect")
											.attr("x",startpos[0]).attr("y", startpos[1])
											.attr("width", endpos[0]-startpos[0]).attr("height",endpos[1]-startpos[1])
											.attr("fill-opacity",0)
											.attr("stroke-dasharray","5,5")
											.attr("stroke-width", 1).attr("stroke", "steelblue");
								}
								div.html("");


								
							});


							d3.select("#svg").on("mousemove",function(){
								if(status===1){
									var x = d3.mouse(this)[0];
									var y = d3.mouse(this)[1];

									endpos=[x,y];

									var rectw=Math.abs(endpos[0]-startpos[0]);
									var recth=Math.abs(endpos[1]-startpos[1]);

									var rectx = (startpos[0]<endpos[0])? startpos[0] : endpos[0];
									var recty = (startpos[1]<endpos[1])? startpos[1] : endpos[1];

									crop=[ Math.ceil(rectx*imagescalerate[0]),Math.ceil(recty*imagescalerate[1]),Math.ceil(rectw*imagescalerate[0]),Math.ceil(recth*imagescalerate[1])];

									selectRect.attr("width", rectw).attr("height",recth).attr("x",rectx).attr("y",recty);
								}
								

							})


							d3.select("#svg").on("mouseup",function(){

								if(status===1){
									
									var totalPix =  crop[2]* crop[3];
									console.log(totalPix)
									if(totalPix>limit){


										div.html("<span>The area you selected is too large.<br></span>")
									}else if(totalPix>20000){

										var pixelstr =  crop[2] +" x "+ crop[3];

										div.html("<div><span>Selected pixels size: </span><br> <span>"+pixelstr+"</span></div>");
										div.append("<hr></hr><div><label>Input a name of image</label><input type='text' id='cropname' class='form-control form-control-sm'><button class='btn btn-sm btn-info' id='savecrop'>save</button></div>");

										var temp= path.split("/");
										temp=temp[temp.length-1];
										temp = temp.split(".")[0];
										temp = temp.split(' ').join('_')
										$("#cropname").val(temp);

										$("#savecrop").click(function(){

											var name = $("#cropname").val();
											var thisdiv = $("#savecrop").parent();
											thisdiv.html("waiting....");
											savecrop(name,crop,thisdiv,path);

										});										
										 
									}else{

										$("#selectrect").remove();
										div.html("");
									}


								}
								
								status=0;
							});



							



							$("#autocrop").html("<button id='autocropbtn' class='btn btn-sm btn-primary'>auto split</button>&nbsp;&nbsp;<button class='btn btn-sm btn-info' id='autocropsave' style='display:none;'>save</button><br><div id='savecropname'></div>");

							$("#autocropbtn").click(function(){

								$("#cropresult").html("");

								autocrop(path);
							})

							$("#autocropsave").click(function(){
								var names=[];
								$(".autocroprect").each(function(){
									var x = Math.floor(Number($(this).attr("x"))*imagescalerate[0]);
									var y = Math.floor(Number($(this).attr("y"))*imagescalerate[1]);
									var w = Math.ceil(Number($(this).attr("width"))*imagescalerate[0]);
									var h = Math.ceil(Number($(this).attr("height"))*imagescalerate[1]);
									var thissize = [x,y,w,h].join("_");
									var name = $(this).attr("name");
									name = name+"___"+thissize;

									names.push(name);
								})
								names = names.join("//,;");
								$("#savecropname").html("saving.....");
								$("#autocropsave").hide();
								$.ajax({
									url: "saveautocrop",
									method:"post",
									format:"json",
									data:{"path":path,"crops":names},
									success:function(saveautocropres){
										$("#savecropname").html(saveautocropres.result);
									},error:function(e){
										$("#savecropname").html("error");
									}


								})
								
							})


							fullpageLoading.loadingEnd();

						},error:function(){
							fullpageLoading.loadingError("error");

						}
				})

			}


			function autocrop(path){
				var w= Math.floor(pythologyPlot.w);
				var h= Math.floor(pythologyPlot.h);

				$.ajax({

					url: "autocrop",
					method:"post",
					format:"json",
					data:{"path":path,"w":w,"h":h},
					success:function(res){
						var temp= path.split("/");
						temp=temp[temp.length-1];
						temp = temp.split(".")[0];
						temp = temp.split(' ').join('_');
						$("#savecropname").html(temp);
						var boxs = res.boxs;
						for(var i in boxs){
							d3.select("#svg").append("rect").attr("class","autocroprect")
								.attr("x",boxs[i][0]-2).attr("y", boxs[i][1]-2)
								.attr("width",boxs[i][2]+4).attr("height",boxs[i][3]+4)
								.attr("fill-opacity",0)
								.style("cursor","pointer")
								.attr("stroke-dasharray","5,5")
								.attr("name",temp+"_"+(Number(i)+1) )
								.attr("stroke-width", 1).attr("stroke", "#33bb55");
						}

						$(".autocroprect").click(function(){

							$(this).remove();
						});




						$("#autocropsave").show();
					},error:function(e){

						$("#autocropsave").hide();
					}
				})


			}


			function savecrop(name,crop,div,path){
				$.ajax({
					url: "savecrop",
					method:"post",
					format:"json",
					data:{"path":path,"x":crop[0],"y":crop[1],"w":crop[2],"h":crop[3],"name":name},
					success:function(res){
						if(res.result==='success'){
							div.html("success");
						}else{
							div.html(res.result);
						}
					},error:function(e){

						div.html("error");
					}


				})
				
			}


			function loading(div,color='steelblue',x=2){

				div.html("<div><i class='fas fa-circle-notch fa-spin fa-"+x+"x' style='color:"+color+";'></i></div>");
			}


			var fullpageLoading={


				loadingStart:function(){

					$("#loadingcanvas").show();

				},
				loadingEnd:function(){

					$("#loadingcanvas").hide();

				},
				loadingError:function(msg){

					$("#loadingcanvas").show();
					$("#loadingcanvas").html('<div class="h-100" style="display: flex;justify-content: center;align-items: center;vertical-align: middle;"><h1 style="color:#8847E3">'+msg+'</h1></div>')
				},
			}


			var pythologyPlot={

				canvasid:"canvas",
				svgid : "svg",
				h:0,
				w:0,

				init : function(id,w,h){

					this.w=w;
					this.h=h;
					
					d3.select("#"+id).append('canvas').attr("id",pythologyPlot.canvasid).style("position","absolute")

					var canvas = document.getElementById(pythologyPlot.canvasid);

					canvas.width= w;
					canvas.height= h;

				}



			}



			initPage();
			

		})

		
		function getRandomColor() {
			var letters = '0123456789ABCDEF';
			var color = '#';
			for (var i = 0; i < 6; i++) {
				color += letters[Math.floor(Math.random() * 16)];
			}
			return color;

		}


		function drawPolygonToPath(polygon) {
			return ("M" + (polygon.map(function (d) { return d.join(','); }).join('L')));
		}

 



	</script>
</body>
</html>