<!DOCTYPE html>
<html>
<head>
	<title>Workflow</title>

	{% load static %}
	<link rel="shortcut icon" href="" />
	<script src="{% static 'lib/jquery-3.2.1.js' %}" type="text/javascript"></script>
	<link rel="stylesheet" href="{% static 'lib/fontawesome5.8/css/all.min.css' %}" >

	<script src="{% static 'lib/fontawesome5.8/js/all.min.js' %}" type="text/javascript"></script>

	<link rel="stylesheet" href="{% static 'lib/bootstrap-4.1.3/css/bootstrap.min.css' %}">

	<script src="{% static 'lib/bootstrap-4.1.3/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script> 


	<script src="{% static 'lib/d3.v4.js' %}" type="text/javascript"></script>

	<style type="text/css">
		
		html{
			
			height: 100%;
			width:100%;
			min-width: 960px;
			min-height: 520px;

		}

		body{

			height: 100%;
			width: 100%;
			background-color: #c6cbd0;
		}

		#sideBar{
			width: 290px;
			position: absolute;
			height: 100%;
			background-color: #ffffff;
		}

		#main{
			left: 290px;
			top:0;
			height: 100%; 
			width: 530px;
			position: absolute;
		}

		/*
		.sidebarmenu{

			padding-top: 10px;
			padding-bottom: 10px;
			cursor: default;
			background-color: #265e6e;
			width: 100%;
			border-color:  #163e4e;

		}
		
		.sidebarmenu_enable > .stepname{
			color :white;

		}

		.sidebarmenu_disable > .stepname{
			

		}

		.sidebarStepPanel{
			width: 100%;
			margin-top: 10px;
			margin-bottom: 10px;

		}

		*/
		.sidebarStep_enable > .sidebartitle{

			color: steelblue;

		}
		.sidebarStep_disable > .sidebartitle{

			color :#b0b0b0;
		}

	</style>

</head>
<body style="">
	<div id='sideBar'>
		<div style="padding-top: 15px;padding-right:10px;padding-left:10px;padding-bottom: 15px;  ">
			
			<h4 class='text-info'>Pythology</h4>
			<h7 style='color: grey;'>Image Analysis Workflow</h7>
		</div>

		<!--hr style="color:white;border-color: white;"-->
		<div >

			<div class='sidebarStepPanel card sidebarStep_enable' step='1'>
				<div class="card-header sidebartitle">Step 1: Select Image</div>

			</div>

			<div class='sidebarStepPanel card sidebarStep_disable' step='2'>
				<div class="card-header sidebartitle">Step 2: Annotation</div>
				
			</div>

			<div class='sidebarStepPanel card sidebarStep_disable' step='3'>
				<div class="card-header sidebartitle">Step 3: Results</div>
				
			</div>
			
		 	


		</div>

		


	</div>


	<div id='main'>
		 
	</div>


	<div id='loadingcanvas' style="position: fixed;width: 100%;height: 100%;left:0;top:0;background :rgba(192, 192, 192, .6);z-index:99999;display: none;" >
		<div name='loadingContent' class="h-100" style="display: flex;justify-content: center;align-items: center;vertical-align: middle;">
				
				loading...
				
		</div>
	</div>


	<script type="text/javascript">
		

		$(function(){

			//var docHeight = $(document).height();
			//$(body)
			function initPage(){
				var pagew = $("body").width();
				var pageh = $("body").height();

				var sideBarw= $("#sideBar").width();
				var panelMargin=10;

				var mainW=pagew-sideBarw;

				$("#main").width(mainW);

				$("#main").height(pageh);

				$("#main").html("<div style='margin-top:"+panelMargin+"px;margin-left:"+panelMargin+"px;background-color:white;width:"+(mainW-2*panelMargin)+"px;height:"+(pageh-2*panelMargin)+"px;position:absolute;'><div  id='displayarea' style='width:100%;height:100%;position: relative;'></div></div>");


				pythologyPlot.init("displayarea",Math.floor($("#displayarea").width()),Math.floor($("#displayarea").height()) );


				workflow.changeStep(1);
			}


			function loading(div,color='steelblue',x=2){

				div.html("<div><i class='fas fa-circle-notch fa-spin fa-"+x+"x' style='color:"+color+";'></i></div>");
			}


			var fullpageLoading={


				loadingStart:function(){


					$("#loadingcanvas").find("[name='loadingContent']").html("<i class='fas fa-spinner fa-spin fa-5x'></i> ");
					$("#loadingcanvas").show();

				},
				loadingEnd:function(){

					$("#loadingcanvas").hide();

				},
				loadingError:function(msg){

					$("#loadingcanvas").show();
					$("#loadingcanvas").find("[name='loadingContent']").html('<h1 style="color:#8847E3">'+msg+'</h1>')
				},
				loadingUpdate:function(msg){

					$("#loadingcanvas").find("[name='loadingContent']").html('<h1 style="color:#3347E3">'+msg+'</h1>');

				}
			}


			var pythologyPlot={

				canvasid:"canvas",
				svgid : "svg",
				h:0,
				w:0,

				init : function(id,w,h){

					this.w=w;
					this.h=h;
					
					d3.select("#"+id).append('canvas').attr("id",pythologyPlot.canvasid).style("position","absolute")

					var canvas = document.getElementById(pythologyPlot.canvasid);

					canvas.width= w;
					canvas.height= h;

				},
				renderZoomSelection:function(){

					
					var svgid = pythologyPlot.svgid
					$("#"+svgid).remove();
					$("#cropImageDiv").hide();

					d3.select("#displayarea").append("svg").attr("id",svgid).style("position","absolute")
					.style("top", '0px')
    				.style("left", '0px')
					.attr("width",pythologyPlot.w)
					.attr("height",pythologyPlot.h);


					var status=0;
					var startpos=[];
					var endpos=[];
					var selectRect;
					d3.select("#"+svgid).on("mousedown", function() {

						$("#cropImageDiv").hide();
						if(status!==3){

							status=1;
							var x = d3.mouse(this)[0];
							var y = d3.mouse(this)[1];

							startpos=[x,y];
							endpos=[x,y];
							workflow.tempCrop=[ Math.ceil(x*workflow.rate[0]),Math.ceil(y*workflow.rate[1]),0,0];

							$("#selectrect").remove();
							selectRect = d3.select("#svg").append("rect").attr("id","selectrect").attr("x",startpos[0]).attr("y", startpos[1])
									.attr("width", endpos[0]-startpos[0]).attr("height",endpos[1]-startpos[1])
									.attr("fill-opacity",0.3)
									.attr("fill","#3333BB")
									.attr("stroke-dasharray","5,5")
									.attr("stroke-width", 1).attr("stroke", "steelblue");

						}
						
						
					});


					d3.select("#"+svgid).on("mousemove",function(){
						if(status===1){
							var x = d3.mouse(this)[0];
							var y = d3.mouse(this)[1];

							endpos=[x,y];

							var rectw=Math.abs(endpos[0]-startpos[0]);
							var recth=Math.abs(endpos[1]-startpos[1]);

							var rectx = (startpos[0]<endpos[0])? startpos[0] : endpos[0];
							var recty = (startpos[1]<endpos[1])? startpos[1] : endpos[1];

							workflow.tempCrop=[ Math.ceil(rectx*workflow.rate[0]),Math.ceil(recty*workflow.rate[1]),Math.ceil(rectw*workflow.rate[0]),Math.ceil(recth*workflow.rate[1])];

							selectRect.attr("width", rectw).attr("height",recth).attr("x",rectx).attr("y",recty);
						}
						

					})

					d3.select("#"+svgid).on("mouseup",function(){
						
						if(status===1){
							
							if(workflow.tempCrop[2]*workflow.tempCrop[3]>10000){

								$("#cropImageDiv").show();
							}else{

								$("#cropImageDiv").hide();
							}

						}
						
						status=0;
					});



				},
				renderAnnotationSelection:function(){

				}



			}


			var workflow={
				step:0,
				imagePath:"",


				changeStep:function( step){
					
					var currentstep = this.step;



					if(step !==currentstep){

						this.step = step;


						$(".stepcontent").remove();
						$(".sidebarStepPanel").removeClass("sidebarStep_enable");
						$(".sidebarStepPanel").addClass("sidebarStep_disable");


						var div = $(".sidebarStepPanel[step='"+step+"']");

						div.removeClass("sidebarStep_disable");
						div.addClass("sidebarStep_enable");
						div.append("<div class='card-body stepcontent'></div>");



						if(step===1){
							this.step1();

						}else if(step===2){
							this.step2();
						}else if(step===3){
							this.step3();
						}else if(step===4){

							this.step4();

						}

					}
				},

				step1:function(){

					var div = $(".sidebarStep_enable[step='1']");
					div = div.find(".stepcontent");

					loading(div);
					workflow.renderImageList(div)


				},
				renderImageList:function(div){

					$.ajax({

						url: "queryImages",
						method:"post",
						format:"json",
						success:function(res){

							listitem="<div class='list-group'>";
							
							for(var i in res){

								var color="black";
								if(res[i]["annoted"].length>0){

									color = "steelblue";

								}else if(res[i]["airesult"].length>0){

									color = "#A335A1";

								}

								listitem+="<a class='list-group-item list-group-item-action imagelist' style='padding-bottom:5px;padding-top:5px;cursor:pointer;color:"+color+";' value='"+i+"'>"+i+"</a>";
								
							}
							listitem+="</div>";
							

							div.html("<div style='max-height:260px;overflow-y: auto;'>"+listitem+"</div><div style='margin-bottom:5px;margin-top:5px;'><hr><button class='btn btn btn-danger btn-sm' name='removefolder' style='display:none;'>remove</button><hr><button class='btn btn-outline-secondary btn-sm disabled' tostep2='0'>Next Step</button></div>");


							div.find(".imagelist").click(function(){
								var path = $(this).attr("value");
								
								workflow.step1_renderImage(path);


								//div.find("[name='removefolder']").show();




							});

							
							div.find("[name='removefolder']").click(function(){

								var path = workflow.imagePath;

								$.ajax({
									url: "removeImage",
									method:"post",
									format:"json",
									data:{"path":path},
									success:function(res){


										$("[value='"+path+"']").remove();

										div.find("[name='removefolder']").hide();

									},error:function(){


										alert("error")
									}


								})


							})
							

							div.find("[tostep2]").click(function(){

								if($(this).attr("tostep2")==="1"){


									workflow.changeStep(2);
								}

							})


						},error:function(){

							div.html("error")

						}


					})

				},
				step1_renderImage:function(path){
					workflow.imagePath=path;

					fullpageLoading.loadingStart()


					var w= Math.floor(pythologyPlot.w);
					var h= Math.floor(pythologyPlot.h);

					var canvas = document.getElementById(pythologyPlot.canvasid);
					var ctx = canvas.getContext('2d');
					ctx.clearRect(0, 0, w, h);

					var queryw =w ;
					var queryh = h;

					if(queryw>128){
						queryw=128;
					}

					if(queryh>128){
						queryh=128
					}

					$.ajax({
						url: "getScaledImageByWH",
						method:"post",
						format:"json",
						data:{"path":path,"w":queryw,"h":queryh,"method":"cv2"},
						success:function(res){

							var image = res.image;
							//ctx.scale(1.5,1.5)
							ctx.scale(1.6,1.6)
							for(var y=0;y<image.length;y++){
								for(var x=0;x<image[y].length;x++){
									//var colorstr="rgb("+image[y][x][0]+","+image[y][x][1]+","+image[y][x][2]+")";
									//var colorstr =  rgbToHex(image[y][x][0],image[y][x][1],image[y][x][2]);
									ctx.fillStyle=image[y][x];
									ctx.fillRect(x,y, 1, 1);

								}
								
							}

							ctx.setTransform(1, 0, 0, 1, 0, 0);

							//ctx = canvas.getContext('2d');
							//ctx.scale(2/3,2/3);
							//draw finish

							$("[tostep2='0']").attr("tostep2","1").removeClass("disabled").removeClass("btn-outline-secondary").addClass("btn-outline-info");


							fullpageLoading.loadingEnd();


						},error:function(){
							fullpageLoading.loadingError("error");

						}
					})

				},

				image:null,
				step2:function(){

					var div = $(".sidebarStep_enable[step='2']");
					div = div.find(".stepcontent");

					var w= Math.floor(pythologyPlot.w);
					var h= Math.floor(pythologyPlot.h);

					var canvas = document.getElementById(pythologyPlot.canvasid);
					var ctx = canvas.getContext('2d');
					ctx.clearRect(0, 0, w, h);

					//fullpageLoading.loadingStart()
					
					//build a tool bar

					var buttongroupstr="";
					buttongroupstr+="<button type='button' name='zoom' class='btn btn-primary btn-sm'>Zoom</button>";
					buttongroupstr+="<button type='button' name='aipredict' class='btn btn-outline-primary btn-sm'>Predict</button>";
					buttongroupstr+="<button type='button' name='mselection' class='btn btn-outline-primary btn-sm'>Label</button>";
					buttongroupstr+="<button type='button' name='train' class='btn btn-outline-primary btn-sm'>Train</button>";

					div.html("<div><div id='step3actions'><h6 style='font-size:16px;color:steelblue;'>"+workflow.imagePath+"</h6><div class='btn-group' name='annotationmethod'>"+buttongroupstr+"</div><div name='annotationdetails'></div></div></div><hr><div><button class='btn btn-outline-info btn-sm' tostep3='1'>Next Step</button></div>");


					var workdiv = div.find("[name='annotationdetails']");

					div.find("[name='annotationmethod']").on("click",".btn-outline-primary",function(){
						div.find("[name='annotationmethod']").find(".btn").removeClass("btn-primary").addClass("btn-outline-primary");

						$(this).removeClass("btn-outline-primary").addClass("btn-primary");

						$("#"+pythologyPlot.svgid).remove();


						if($(this).attr("name")==="aipredict"){

							workflow.renderAIPredictionPanel(workdiv);
						}else if($(this).attr("name")==="mselection"){

							workflow.renderAnnotationLabelPanel(workdiv);
						}else if($(this).attr("name")==="train"){

							workflow.renderTrainingPanel(workdiv);

						}else if($(this).attr("name")==="zoom"){

							workflow.renderZoomPanel(workdiv);
						}

						
					});



					workflow.renderZoomPanel(workdiv);
					$("#restoreImage").trigger("click");

					div.find("[tostep3]").click(function(){

						if($(this).attr("tostep3")==="1"){


							workflow.changeStep(3);
						}

					})





					return "";

					
  
					
					



				},
				rawSize:null,
				crop:null,
				rate:null,
				tempCrop:null,
				zoomStatus:0,
				renderZoomPanel:function(div){

					div.html("<hr><div class='form-group'><span id='cropImageDiv'><button class='btn btn-outline-primary btn-sm' id='cropImage'>Crop</button></span><span id='restoreImageDiv'><button class='btn btn-outline-info btn-sm' id='restoreImage'>Restore</button></span></div>");
					
					


					if(workflow.zoomStatus === 1){
						$("#"+pythologyPlot.svgid).remove();


						$("#cropImageDiv").hide();


					}else if(workflow.zoomStatus===0){

						$("#cropImageDiv").hide();
						$("#restoreImageDiv").hide();
						pythologyPlot.renderZoomSelection();
					}
					
					$("#cropImage").click(function(){

						workflow.zoomStatus=1;
						
						var svgid = pythologyPlot.svgid;
						$("#"+svgid).remove();

						var w= Math.floor(pythologyPlot.w);
						var h= Math.floor(pythologyPlot.h);

						var canvas = document.getElementById(pythologyPlot.canvasid);
						var ctx = canvas.getContext('2d');
						ctx.clearRect(0, 0, w, h);


						fullpageLoading.loadingStart();
						var tempCrop = workflow.tempCrop;
						$.ajax({
							url: "getScaledCropedImage",
							method:"post",
							format:"json",
							data:{"path":workflow.imagePath,"x":tempCrop[0],"y":tempCrop[1],"w":tempCrop[2],"h":tempCrop[3],"resizeW":w,"resizeH":h,"method":"cv2"},
							success:function(res){

								var image = res.image;

								for(var y=0;y<image.length;y++){
									for(var x=0;x<image[y].length;x++){
										//var colorstr="rgb("+image[y][x][0]+","+image[y][x][1]+","+image[y][x][2]+")";
										//var colorstr =  rgbToHex(image[y][x][0],image[y][x][1],image[y][x][2]);
										ctx.fillStyle=image[y][x];//.toUpperCase();
										ctx.fillRect(x,y, 1, 1);

									}
									
								}

								$("#cropImageDiv").hide();
								$("#restoreImageDiv").show();

								workflow.crop = res.rawRegion;
								workflow.rate = res.scale;
								fullpageLoading.loadingEnd();


							},error:function(){
								fullpageLoading.loadingError("error");

							}
						})


						

						

					})

					

					$("#restoreImage").click(function(){

						workflow.zoomStatus=0;
						$("#restoreImageDiv").hide();

						var w= Math.floor(pythologyPlot.w);
						var h= Math.floor(pythologyPlot.h);

						var canvas = document.getElementById(pythologyPlot.canvasid);
						var ctx = canvas.getContext('2d');
						ctx.clearRect(0, 0, w, h);


						fullpageLoading.loadingStart();

						$.ajax({
							url: "getScaledImageByWH",
							method:"post",
							format:"json",
							data:{"path":workflow.imagePath,"w":w,"h":h,"method":"cv2"},
							success:function(res){

								var image = res.image;
								workflow.rawSize =  res.rawSize;
								workflow.rate = res.scale;

								workflow.crop=[0,0,workflow.rawSize[0],workflow.rawSize[1]];

								for(var y=0;y<image.length;y++){
									for(var x=0;x<image[y].length;x++){
										//var colorstr="rgb("+image[y][x][0]+","+image[y][x][1]+","+image[y][x][2]+")";
										//var colorstr =  rgbToHex(image[y][x][0],image[y][x][1],image[y][x][2]);
										ctx.fillStyle=image[y][x];//.toUpperCase();
										ctx.fillRect(x,y, 1, 1);

									}
									
								}
								
								
								pythologyPlot.renderZoomSelection();

								fullpageLoading.loadingEnd();


							},error:function(){
								fullpageLoading.loadingError("error");

							}
						})


					});

				},
				renderAnnotationLabelPanel:function(div){
					div.html("<div  class='form-group'><label for='mmodelselection'>Select a Category</label><select class='form-control form-control-sm' id='mmodelselection'><option value=''>----</option></select> </div><div id='mmodelresult'></div>");

					
					$.ajax({

						url: "queryAnnotations",
						method:"post",
						format:"json",
						data:{"path":workflow.imagePath},
						success:function(res){
							
							for(i in res){

								$("#mmodelselection").append("<option value='"+i+"'>"+i+"</option>");

							}
						},error:function(e){

							alert("error")

						}
					});


					$("#mmodelselection").change(function(){
						$("#mmodelresult").html("");
						var categoryName =$(this).val();

						$("#"+pythologyPlot.svgid).remove();

						if(categoryName === ""){

							var svg = d3.select("#displayarea").append("svg").attr("id",pythologyPlot.svgid).style("position","absolute")
							.style("top", '0px')
							.style("left", '0px')
							.attr("width",pythologyPlot.w)
							.attr("height",pythologyPlot.h);

							var drawRect=svg.append("rect")
							.attr("id","drawRect")
							.attr("x",0)
							.attr("y",0)
							.attr("width",pythologyPlot.w)
							.attr("height",pythologyPlot.h)
							.style("fill-opacity",0)
							.style("stroke-width",0.1)
							.style("stroke","steelblue")
							.style("fill","white");

							workflow.renderSelector_node(svg,drawRect);
						}else{

							workflow.randerAnnotationLabels(categoryName,function(){

								var svg = d3.select("#"+pythologyPlot.svgid);

								var drawRect = d3.select("#drawRect");

								workflow.renderSelector_node(svg,drawRect);

							});
						}

						$("#"+pythologyPlot.svgid).on("click",".savedline",function(){

							var thistarget= $(this);
							var aid = $(this).attr("aid");

							var details = workflow.annotations[aid]["details"];



							var renderstr="";
							renderstr += "<div>";
							renderstr+="<label>Attributes</label><textarea class='form-control' name='attributes'></textarea><br><button class='btn btn-outline-info btn-sm' name='save'>Save</button>&nbsp;&nbsp;<button class='btn btn-outline-warning btn-sm' name='remove'>Remove</button>";
							renderstr+="</div>";

							$("#mmodelresult").html(renderstr);


							$("#mmodelresult").find("[name='attributes']").val(details);


							$("#mmodelresult").find("[name='remove']").click(function(){

								$.ajax({
									url: "removeAnnotation",
									method:"post",
									format:"json",
									data:{
										"aid":aid,"category":categoryName.toLowerCase(),"path":workflow.imagePath,
										
									},
									success:function(res){
										

										thistarget.remove()
										

									},error:function(){

										alert("error")
									}

								})



							});

							$("#mmodelresult").find("[name='save']").click(function(){
								var value = $("#mmodelresult").find("[name='attributes']").val();

								$.ajax({

										url: "updateAttr",
										method:"post",
										format:"json",
										data:{"attr":value,"path":workflow.imagePath,"id":aid,"name":categoryName.toLowerCase()},
										success:function(res){

											$("#mmodelresult").html("success")


										},error:function(argument) {
											$("#mmodelresult").html("error")
										}
								});

								
							})


						})

						

					})

					$("#mmodelselection").trigger("change");
				},
				renderTrainingPanel:function(div){

					loading(div);

					$.ajax({

						url: "queryDLModels",
						method:"post",
						format:"json",
						success:function(res){

							var optstr="";
							for(var i in res){
								optstr+="<option value='"+i+"'>"+i+"</option>"

							}
							div.html("<div  class='form-group'><label for='aimodelselection'>Select an AI Model</label><select class='form-control form-control-sm' id='aimodelselection'>"+optstr+"</select></div><div name='aimodelresult'></div>");
							$("#aimodelselection").change(function(){

								var value = $(this).val();
								var contentdiv = div.find("[name='aimodelresult']");

								if(value ===""){

									contentdiv.html("");

								}else{

									var data= res[value];
									var itemstr="";
									var target ="";
									for(var i in data){
										if(i==="target"){
											target = data[i];

											target = target.toLowerCase();

											itemstr+="<p>"+i+": <span style='color:steelblue;'>"+data[i]+"</span></p>";

											
										}else{
											itemstr+="<p>"+i+": "+data[i]+"</p>";
										}
										
									}

									contentdiv.html("<div>"+itemstr+"</div>");

									contentdiv.append("<div><h4>Training</h4></div>");
									contentdiv.append("<div><label>Input Shape: &nbsp;&nbsp;<span name='inputshape' style='color:steelblue;'></span></label></div>")
									contentdiv.append("<div><label>Step x: </label><input type='number' class='form-control-sm stepx' style='width:150px;' value='128';></div>");

									contentdiv.append("<div><label>Step y: </label><input type='number' class='form-control-sm stepy' style='width:150px;' value='128';></div>");

									contentdiv.append("<div><label>epochs: </label><input type='number' class='form-control-sm' name='epochs' style='width:150px;' value='5';></div>");

									contentdiv.append("<div name='makingstatus'></div>");

									workflow.randerAnnotationLabels(target,function(){

										//var contours_length = $(".savedline").length;
										//contentdiv.append("<div><h4></h4></div>")

										$.ajax({
											url: "queryModelInputSize",
											method:"post",
											format:"json",
											data:{"model":value },
											success:function(inputshape){

												inputshape = inputshape.shape;
												contentdiv.find("[name='inputshape']").html(inputshape[0]+" x "+inputshape[1]);

												contentdiv.find("[name='makingstatus']").html("<button class='btn btn-outline-info btn-sm' id='dotraining'>Train</button>");


												$("#dotraining").click(function(){

													var inputX = inputshape[0];
													var inputY = inputshape[1];

													var stepX = Number(contentdiv.find(".stepx").val());
													var stepY = Number(contentdiv.find(".stepy").val());

													var infodiv = $(this).parent();

													var epochs = Number(contentdiv.find("[name='epochs']").val());
													
													workflow.dotraining(target, [inputX,inputY],[stepX,stepY],epochs,infodiv);

												})
												




											},error:function(){

												alert("load inputsize error")

											}


										})
										
									});
								}
							});
							$("#aimodelselection").trigger("change");
						},error:function(e){


						}
					});

				},
				checkTraining:function(job_id,infodiv,time){
					setTimeout(function () {
						$.ajax({


							url: "checkTrainingStatus",
							data:{"job_id":job_id},
							method:"post",
							format:"json",
							success:function(res){

								if(res.status==="done"){
									fullpageLoading.loadingEnd();

									infodiv.html("<h6>Validate Accurancy: "+res.result+"</h6>")

								}else{
									infodiv.html("<h6>Epochs: "+res.status+"</h6><h6>Validate Accurancy: "+res.result+"</h6>")
									workflow.checkTraining(job_id,infodiv,9000);

								}

							},error:function(){

								fullpageLoading.loadingError();

								setTimeout(function(){
									fullpageLoading.loadingEnd();

								},3500);

							}



						});
					},time);

				},
				dotraining(category,inputShape,stepShape,epochs,infodiv){
					//generate a random
					//infodiv.html("This function implement not ready. example please go to http://10.4.74.28:8080/notebooks/BIimg/ZhengJieImg.ipynb");

					var model = $("#aimodelselection").val();

					fullpageLoading.loadingStart();
					infodiv.html("<h6>Start</h6>");

					$.ajax({
						url: "MakeTrainingSets",
						method:"post",
						format:"json",
						data:{"path":workflow.imagePath,"category":category,"x":workflow.crop[0],"y":workflow.crop[1],"w":workflow.crop[2],"h":workflow.crop[3] ,"stepx":stepShape[0],"stepy":stepShape[1],"inputx":inputShape[0],"inputy":inputShape[1],"epochs":epochs,"model":model},

						success:function(res){

							var job_id = res.job_id;
							workflow.checkTraining(job_id,infodiv,99000);


						},error:function(e){




						}
					})
					/*
					var randomstr = Math.random().toString(36).substring(2, 10);
					var today = new Date();
					var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
					randomstr = randomstr+"__"+date;
					infodiv.html("Starting make training set...<br>please wait. don't close.");
					$.ajax({
						url: "MakeTrainingSets",
						method:"post",
						format:"json",
						data:{"path":workflow.imagePath,"category":category,"x":workflow.step3_currentRegion[0],"y":workflow.step3_currentRegion[1],"w":workflow.step3_size[0],"h":workflow.step3_size[1] ,"stepx":stepShape[0],"stepy":stepShape[1],"inputx":inputShape[0],"inputy":inputShape[1],"job":randomstr},

						success:function(res){

							


						},error:function(e){




						}
					})
					*/


				},
				annotations:null,
				randerAnnotationLabels(categoryName,callback){


					categoryName=categoryName.toLowerCase();
					
					$("#"+pythologyPlot.svgid).remove();
					var svg = d3.select("#displayarea").append("svg").attr("id",pythologyPlot.svgid).style("position","absolute")
							.style("top", '0px')
							.style("left", '0px')
							.attr("width",pythologyPlot.w)
							.attr("height",pythologyPlot.h);

					var lineFunc =d3.line()
							.x(function(d){return d.x; })
							.y(function(d){return d.y; })
							.curve(d3.curveLinear);


					var drawRect=svg.append("rect")
							.attr("id","drawRect")
							.attr("x",0)
							.attr("y",0)
							.attr("width",pythologyPlot.w)
							.attr("height",pythologyPlot.h)
							.style("fill-opacity",0)
							.style("stroke-width",0.1)
							.style("stroke","steelblue")
							.style("fill","white");


					$.ajax({
						url: "filterAnnotations",
						method:"post",
						format:"json",
						data:{"path":workflow.imagePath,"category":categoryName,"x":workflow.crop[0],"y":workflow.crop[1],"w":workflow.crop[2],"h":workflow.crop[3] },
						success:function(res){

							res = res.result;
							workflow.annotations = {};
							for(var i in res){

								var coors = res[i]["coors"];
								var details= res[i]["detail"];

								workflow.annotations[res[i]["id"]]={"coors":coors,"details":details};


								var newcoors=[];
								for(var j in coors){
									newcoors.push({
										"x":(coors[j][0]-workflow.crop[0])/workflow.rate[0],
										"y":(coors[j][1]-workflow.crop[1])/workflow.rate[1],
												
									});
								}

								svg.append("path").datum(newcoors)
									.attr("class","savedline")
									.attr("d",lineFunc)
									.attr("aid",res[i]["id"])
									.attr("fill",function(d){return getRandomColor();})
									.attr("fill-opacity",0.4)
									.attr("stroke","black")
									.style("cursor","pointer")
									.attr("stroke-width",1)
									.on("mouseover",function(){
										d3.select(this).attr("fill-opacity",0.7);
									}).on("mouseout",function(){
										d3.select(this).attr("fill-opacity",0.4);
									})

							}

							callback();

						},error:function(e){
							alert("error")

						}



					})
				},
				checkPredict:function(job_id,time){
					setTimeout(function () {
						$.ajax({


							url: "checkPredictStatus",
							data:{"job_id":job_id},
							method:"post",
							format:"json",
							success:function(res){

								if(res.msg==="100%"){
									fullpageLoading.loadingUpdate(res.msg);

									//console.log(res.contours);

									workflow.renderPredictResult(res.contours);

								}else{
									fullpageLoading.loadingUpdate(res.msg);

									var time2=3000;
									if(res.msg === "96%" || res.msg ==="98%"){
										time2=1000;
									}

									workflow.checkPredict(job_id,time2);

								}

							},error:function(){

								fullpageLoading.loadingError();

								setTimeout(function(){
									fullpageLoading.loadingEnd();

								},3500);

							}



						});
					},time);

				},
				renderPredictResult:function(contours){

					$("#"+pythologyPlot.svgid).remove();
					var svg = d3.select("#displayarea").append("svg").attr("id",pythologyPlot.svgid).style("position","absolute")
						.style("top", '0px')
						.style("left", '0px')
						.attr("width",pythologyPlot.w)
						.attr("height",pythologyPlot.h);
												

					var lineFunc =d3.line()
						.x(function(d){return d.x; })
						.y(function(d){return d.y; })
						.curve(d3.curveLinear);

					for(var c in contours){
						var coors = contours[c].coors;

						var newcoors=[];
						for(var i in coors){
							newcoors.push({"x":coors[i][0],"y":coors[i][1]});
						}

						svg.append("path").datum(newcoors)
							.attr("class","predictline")
							.attr("d",lineFunc)
							.attr("fill-opacity",0.3)
							.attr("fill", getRandomColor())
							.attr("stroke","black")
							.attr("stroke-width",2)

					}

					//afterpredictsuccess
					$("#afterpredictsuccess").html("<input name='savepredictname' class='form-control form-control-sm' placeholder='input a name'><button class='btn btn-sm btn-outline-info' id='savepredictresult'>save</button><div id='savepredictstatus'></div>");

					$("#savepredictresult").click(function(){

						var name=$("#afterpredictsuccess").find("[name='savepredictname']").val().trim();


						if(name.length>0){

							
							contours_str=[];

							for(var c in contours){
								var coors = contours[c].coors;
								var coors_str=[];
								for(var i in coors){
									coors_str.push( Math.round( Number(coors[i][0])*workflow.rate[0]+workflow.crop[0]) +"_"+  Math.round( Number(coors[i][1])*workflow.rate[1]+workflow.crop[1])   );
								}

								coors_str=coors_str.join(",");
								contours_str.push(coors_str)

							}
							contours_str=contours_str.join(";");

							
							$("#savepredictresult").remove();

							$.ajax({

								url: "saveAIpredictResult",
								method:"post",
								format:"json",
								data:{"contours":contours_str,"path":workflow.imagePath,"name":name},
								success:function(res){

									
									$("#savepredictstatus").html(res.result);


								},error:function(){

									$("#savepredictstatus").html("error");

								}
							});

							
						}
						
					})


					fullpageLoading.loadingEnd();


				},
				renderAIPredictionPanel:function(div){

					loading(div);


					$.ajax({

						url: "queryDLModels",
						method:"post",
						format:"json",
						success:function(res){

							var optstr="";
							for(var i in res){
								optstr+="<option value='"+i+"'>"+i+"</option>"

							}
							div.html("<div  class='form-group'><label for='aimodelselection'>Select an AI Model</label><select class='form-control form-control-sm' id='aimodelselection'>"+optstr+"</select></div><div name='aimodelresult'></div>");



							$("#aimodelselection").change(function(){

								var value = $(this).val();
								var contentdiv = div.find("[name='aimodelresult']");

								if(value ===""){

									contentdiv.html("");

								}else{

									var data= res[value];

									var itemstr="";
									for(var i in data){
										itemstr+="<p>"+i+": "+data[i]+"</p>";
									}

									contentdiv.html("<div>"+itemstr+"</div><div><button class='btn btn-sm btn-outline-info' id='AIpredictsubmit'>predict</button> <div id='afterpredictsuccess'></div> </div>");
									
									$("#AIpredictsubmit").click(function(){

										fullpageLoading.loadingStart();


										$("#afterpredictsuccess").html("");

										var crop=workflow.crop;

										$.ajax({

											url: "aiModelPredict",
											method:"post",
											format:"json",
											timeout:9900000,
											data:{"model":value,"path":workflow.imagePath,"w":crop[2],"h":crop[3],"x":crop[0],"y":crop[1],"rateW":workflow.rate[0],"rateH":workflow.rate[1]},
											success:function(resdata){
												
												var job_id = resdata["job_id"];

												workflow.checkPredict(job_id,6000);
												
												
											},error:function(e){

												fullpageLoading.loadingError("error")
												fullpageLoading.loadingEnd();
											}

										})



									})

								}






							});

							$("#aimodelselection").trigger("change");


						},error:function(e){
							div.html("error")
						}




					})

					

					

				},
				renderSelector_node:function(svg,drawRect){

					var status = 0;

					var coordinates=[];

					var lineFunc =d3.line()
							.x(function(d){return d[0]; })
							.y(function(d){return d[1]; })
							.curve(d3.curveLinear);
					

					drawRect.on("click",function(){
						
						$(".selectorPath").remove();

						if(status===0){
							coordinates=[];
							$(".selectorNode").remove();
							$(".selectorPath").remove();

							status=1;

							var point = d3.mouse(this);

							coordinates=[point];

							svg.append("circle").attr("class","selectorNode").attr("cx",point[0]).attr("cy",point[1]).attr("r",2)
								.attr('fill', "steelblue")
								.on("mouseover",function(){

									d3.select(this).attr("stroke-width",1).attr("stroke","blue").attr("r",3.5);
									if(status===1){

										status=2;
									}
								}).on("mouseout",function(){

									d3.select(this).attr("stroke-width",null).attr("stroke",null).attr("r",2);
									if(status===2){
										status=1;
									}

								}).on("click",function(){

									if(status===2){

										status=3;
										coordinates.push(coordinates[0]);

										if(coordinates.length>3){

											svg.append("path").attr( "class","savedPath")
												.attr('fill', "steelblue")
				        						.attr('fill-opacity', 0.2)
												.attr("stroke-width",1.6)
												.attr('stroke', "steelblue")
												.attr('d', drawPolygonToPath(coordinates));


											//$("#mmodelresult").html("");

											var renderstr="";
											renderstr += "<div class='form-group'>";

											renderstr += "<label>Category Name</label><input type='text' name='category' class='form-control form-control-sm'>";

											renderstr+="<label>Attributes</label><textarea class='form-control' name='attributes'></textarea>";
											renderstr+="<div><button class='btn btn-outline-info btn-sm' name='submit'>submit</button><button class='btn btn-outline-warning btn-sm' name='cancle'>Cancel</button></div>";
											renderstr+="</div>";


											$("#mmodelresult").html(renderstr);

											var newcoors=[];

											for(var i in coordinates){
												newcoors.push(
													Math.round( (coordinates[i][0]*workflow.rate[0])+ workflow.crop[0] )
													+","+
													Math.round( (coordinates[i][1]*workflow.rate[1])+ workflow.crop[1] )

												)
											}
											newcoors = newcoors.join(";")
											
											$("#mmodelresult").find("[name='cancle']").click(function(){

												status=0;

												coordinates=[];
												$(".selectorNode").remove();
												$(".selectorPath").remove();
												$(".savedPath").remove();
												

												$("#mmodelresult").html("");

											})
											$("#mmodelresult").find("[name='submit']").click(function(){

												var category = $("#mmodelresult").find("[name='category']").val();
												var attrs =  $("#mmodelresult").find("[name='attributes']").val();
												category=category.toLowerCase();

												$.ajax({
													url: "saveAnnotation",
													method:"post",
													format:"json",
													data:{
														"path":workflow.imagePath,
														"name": category,
														"attr":attrs,
														"coors": newcoors,
													},
													success:function(res){
														status=0;

														coordinates=[];
														$(".selectorNode").remove();
														$(".savedPath").removeClass("savedPath").addClass("savedline")
														.attr("stroke","black")
														.attr("aid",res.aid)
														.css("cursor","pointer")
														.attr("fill", getRandomColor())
														.on("mouseover",function(){

															$(this).attr("fill-opacity",0.7)

														}).on("mouseout",function(){
															$(this).attr("fill-opacity",0.4)

														})

														
														$("#mmodelresult").html("");

													},error:function(){

														alert("error")
													}

												})
											})
										}




									}



								})


						}else if(status===1){
							
							var point = d3.mouse(this);

							coordinates.push(point);
							svg.append("circle").attr("class","selectorNode").attr("cx",point[0]).attr("cy",point[1]).attr("r",2)
								.attr('fill', "steelblue")
								.on("mouseover",function(){

									d3.select(this).attr("stroke-width",1).attr("stroke","steelblue").attr("r",3.5);
								}).on("mouseout",function(){

									d3.select(this).attr("stroke-width",null).attr("stroke",null).attr("r",2);

								}).on("click",function(){

									var cx = Number($(this).attr("cx"));
									var cy = Number($(this).attr("cy"));

									var temp=[];
									var isremove=false;
									for(var i in coordinates){
										
										if(coordinates[i][0]===cx && coordinates[i][1]===cy){
											isremove=true;

										}else{
											temp.push(coordinates[i])
										}

									}
									if(isremove===true){

										coordinates=temp;
										$(".selectorNode").each(function(){
											var cx2 = Number($(this).attr("cx"));
											var cy2 = Number($(this).attr("cy"));
											if(cx===cx2 && cy2===cy){

												$(this).remove();
											}

										})
									}

								})



							svg.append("path").datum(coordinates)
								.attr("class","selectorPath")
								.attr("d",lineFunc)
								.attr("stroke","steelblue")
								.attr("stroke-width",1)
								.attr("fill","none")





						}

					})


				},
				step3:function(){
					
					var div = $(".sidebarStep_enable[step='3']");
					div = div.find(".stepcontent");

					var w= Math.floor(pythologyPlot.w);
					var h= Math.floor(pythologyPlot.h);

					//var canvas = document.getElementById(pythologyPlot.canvasid);
					

					//fullpageLoading.loadingStart()
					
					//build a tool bar

					var buttongroupstr="";
					buttongroupstr+="<button type='button' name='aiclasspredict' class='btn btn-primary btn-sm'>Predict</button>";
					buttongroupstr+="<button type='button' name='others' class='btn btn-outline-primary btn-sm'>others</button>";


					div.html("<div><div id='step3actions'><h6 style='font-size:16px;color:steelblue;'>"+workflow.imagePath+"</h6><div class='btn-group' name='workmethod'>"+buttongroupstr+"</div><div name='analysis'></div></div></div><hr><!--div><button class='btn btn-outline-info btn-sm' tostep3='1'>Next Step</button></div-->");


					var workdiv = div.find("[name='analysis']");

					div.find("[name='workmethod']").on("click",".btn-outline-primary",function(){
						div.find("[name='workmethod']").find(".btn").removeClass("btn-primary").addClass("btn-outline-primary");

						$(this).removeClass("btn-outline-primary").addClass("btn-primary");

						$("#"+pythologyPlot.svgid).remove();


						if($(this).attr("name")==="aiclasspredict"){

							workflow.renderAIClassificationPredictionPanel(workdiv);
						}else if($(this).attr("name")==="others"){

							//workflow.renderAnnotationLabelPanel(workdiv);
						}
						
					});



					workflow.renderAIClassificationPredictionPanel(workdiv);
					
					

				},
				renderAIClassificationPredictionPanel(div){
					div.html("<div  class='form-group'><label for='targetSelection'>Select a Annotation</label><select class='form-control form-control-sm' id='targetSelection'><option value=''>----</option></select> </div><div id='analysisaction'></div><hr></hr><div id='analysisresult'></div>");

					
					$.ajax({

						url: "queryAnnotations2",
						method:"post",
						format:"json",
						data:{"path":workflow.imagePath},
						success:function(res){
							
							for(i in res){
								var color = "steelblue";
								if(res[i].endsWith("_airesult.txt")){

									color="#A335A1";
								}
								$("#targetSelection").append("<option value='"+res[i]+"' style='color:"+color+";'>"+i+"</option>");

							}

							$("#targetSelection").change(function(){

								var val = $(this).val();
								if(val.length===0){

									$("#analysisaction").html("")


								}else{

									$("#analysisaction").html("<div><button class='btn btn-outline-info btn-sm' name='aiclassification'>AI Classification</button> <button class='btn btn-outline-info btn-sm' name='other'>other</button></div>");


									$("#analysisaction").find("[name='aiclassification']").click(function(){

										var annotations = $("#targetSelection").val();
										fullpageLoading.loadingStart();

										$.ajax({
											url: "aiclassification",
											method:"post",
											format:"json",
											data:{"anno":annotations,"path":workflow.imagePath},
											timeout: 900000,
											success:function(result2){


												workflow.renderClassificationResult(result2);
												fullpageLoading.loadingEnd();
											},error:function(){



											}
										})

									})



								}

							})


						},error:function(e){

							alert("error")

						}
					});
				},

				renderClassificationResult(data){

					var contours= data.data;
					var label = data.label;

					$("#"+pythologyPlot.svgid).remove();

					var svg = d3.select("#displayarea")
						.append("svg").attr("id",pythologyPlot.svgid).style("position","absolute")
						.style("top", '0px')
						.style("left", '0px')
						.attr("width",pythologyPlot.w)
						.attr("height",pythologyPlot.h);


					svg.append("rect").attr("x",0).attr("y",0)
						.attr("width",pythologyPlot.w)
						.attr("height",pythologyPlot.h)
						.style("fill","#808080")
						.style("fill-opacity",0.3);


					var lineFunc =d3.line()
						.x(function(d){return d.x; })
						.y(function(d){return d.y; })
						.curve(d3.curveLinear);

					for(var c in contours){
						var coors = contours[c].coors;

						var predict = contours[c].predict;



						var newcoors=[];
						for(var i in coors){
							newcoors.push({"x":coors[i][0]/workflow.rate[0],"y":coors[i][1]/workflow.rate[1]});
						}
						newcoors.push({"x":coors[0][0]/workflow.rate[0],"y":coors[0][1]/workflow.rate[1]})




						var colorrange=["#2c7bb6","#00a6ca","#90eb9d","#f29e2e","#d7191c"]

						prob_1 = predict[1]-predict[0];
						prob_2 = predict[2]-predict[0];

						diff = Math.abs(prob_1-prob_2);

						colorScale = d3.scaleLinear().domain([-0.95,-0.7,0,0.7,0.95 ]).range(colorrange);
						var color  ="#333333"
						if(predict[0]<=0.5){
							if(prob_1<0.4 && prob_2<0.4){


							}else if(diff<0.2){


							}else if(prob_1>prob_2){

								color  = colorScale(-prob_1);
							}else if(prob_2>prob_1){

								color =colorScale( prob_2)
							}

						}else if( (predict[0]-predict[1])>0.2 && (predict[0]-predict[2])>0.2 && predict[0]>0.5){
							color = colorScale(0);

						}


						
						svg.append("path").datum(newcoors)
							.attr("class","predictline")
							.attr("d",lineFunc)
							.attr("normal",predict[0])
							.attr("proliferation",predict[2])
							.attr("atropic",predict[1])
							.attr("fill-opacity",0.5)
							.attr("fill", color)
							.attr("stroke","black")
							.attr("stroke-width",2)
							.on("mouseover", function(){

								var normal = d3.select(this).attr("normal")
								var proliferation = d3.select(this).attr("proliferation");
								var atropic = d3.select(this).attr("atropic")


								console.log(normal+"_"+proliferation+"_"+atropic)
								$("#glandtooltip").show();

								$("#glandtooltip").html("")
								$("#glandtooltip").append("<span>Normal %: "+normal+"</span><br>");
								$("#glandtooltip").append("<span>proliferation %: "+proliferation+"</span><br>");
								$("#glandtooltip").append("<span>atropic %: "+atropic+"</span><br>");

								d3.select("#glandtooltip")
								.style("left", (d3.event.pageX) + "px")		
                				.style("top", (d3.event.pageY - 28) + "px");
							})
          					.on("mouseout", function(){

          						$("#glandtooltip").hide();

          					});



					}

				},
				step4:function(){
					var div = $(".sidebarStep_enable[step='4']");
					div = div.find(".stepcontent");







				},




			}

			





			initPage();
			

		})

		
		function getRandomColor() {
			var letters = '0123456789ABCDEF';
			var color = '#';
			for (var i = 0; i < 6; i++) {
				color += letters[Math.floor(Math.random() * 16)];
			}
			return color;

		}


		function drawPolygonToPath(polygon) {
			return ("M" + (polygon.map(function (d) { return d.join(','); }).join('L')));
		}

 

		function componentToHex(c) {
			var hex = c.toString(16);
			return hex.length == 1 ? "0" + hex : hex;
		}

		function rgbToHex(r, g, b) {
			return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
		}


	</script>



	<style type="text/css">
		
		div.tooltip {	
		    position: absolute;			
		    text-align: center;			
		    width: 60px;					
		    height: 28px;					
		    padding: 2px;				
		    font: 12px sans-serif;		
		    background: lightsteelblue;	
		    border: 0px;		
		    border-radius: 8px;			
		    pointer-events: none;			
		}

	</style>
	<div class='tooltip' id='glandtooltip'></div>


</body>
</html>